<section id="tweets">
  <ul>
    <% @tweets.each do |tweet| %>
      <li><%= link_to(tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}") %>
	</li>
<% end %>
  </ul>
</section>
<%= form_tag("application/save", method: "post") do %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %>
  <%= submit_tag("Add") %>
<% end %>
